<!DOCTYPE html>
<html>
    <head>
        <title>Page title</title>
    </head>

    <body>
        <%= variableName %>
    </body>

    <form action = "/update" method = "post">
        <input type="number" style="display: none"
        name="noteId" value="<%= element.noteId %>">
        <textarea type = "text" rows="6"
 cols="30" placeholder="text here" name="noteContent" value="<%= element.noteContent">
 <%= element.noteContent %>
</textarea>
<br>
 <button type="submit">Update</button>
    </form>
</html>